@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <h1 class="display-4">Welcome</h1>
        <hr />
        <h5>Please Select Meter-Reading CSV File</h5>
        <input type="file" id="meterReadingFile" name="meterReadingFile" />
        <br />
        <br />
        <input type="submit" id="btnSubmit" class="btn btn-success" value="Upload" />
        <br />
        <br />
        <span style="color:green;font-size:16px;font-family:Tahoma">@Model.UploadMessage</span>
        <br />
        <hr />
    </form>
</div>
